DB_HOST=host
DB_PORT=port
DB_USER=user
DB_PASS=pass
DB_NAME=db_name

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=mysql://
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXTAUTH_URL=http://localhost:3000/api/auth
VERCEL_URL=http://localhost:3000/api/auth
NEXTAUTH_SECRET=63b8ec2602250bbe5e124c4dbb5bfa92
JWT_SECRET=63b8ec2602250bbe5e124c4dbb5bfa92

# WEBSOCKET
NEXT_PUBLIC_WEBSOCKET_URL=localhost:3000

# OPEN API
OPENAI_ENDPOINT=
OPENAI_API_KEY=