@tailwind base;

/* reset */
button,
fieldset,
input {
    all: unset;
}

.PopoverContent {
    border-radius            : 4px;
    padding                  : 20px;
    width                    : 360px;
    background-color         : white;
    box-shadow               : hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
    animation-duration       : 400ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change              : transform, opacity;
}

.PopoverContent:focus {
    box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
}

.PopoverContent[data-state='open'][data-side='top'] {
    animation-name: slideDownAndFade;
}

.PopoverContent[data-state='open'][data-side='right'] {
    animation-name: slideLeftAndFade;
}

.PopoverContent[data-state='open'][data-side='bottom'] {
    animation-name: slideUpAndFade;
}

.PopoverContent[data-state='open'][data-side='left'] {
    animation-name: slideRightAndFade;
}

.PopoverArrow {
    fill: white;
}

.PopoverClose {
    @apply text-slate-900;
    font-family    : inherit;
    border-radius  : 100%;
    height         : 25px;
    width          : 25px;
    display        : inline-flex;
    align-items    : center;
    justify-content: center;
    position       : absolute;
    top            : 5px;
    right          : 5px;
}

.PopoverClose:hover {
    @apply bg-slate-200
}

.PopoverClose:focus {
    @apply shadow shadow-slate-600;
}

.IconButton {
    @apply text-slate-900 shadow shadow-slate-700;
    font-family     : inherit;
    border-radius   : 100%;
    height          : 35px;
    width           : 35px;
    display         : inline-flex;
    align-items     : center;
    justify-content : center;
    background-color: white;
}

.IconButton:hover {
    @apply bg-slate-400;
}

.IconButton:focus {
    box-shadow: 0 0 0 2px black;
}

.Fieldset {
    display    : flex;
    gap        : 20px;
    align-items: center;
}

.Label {
    @apply text-slate-900;
    font-size: 13px;
    width    : 75px;
}

.setting-input {
    @apply text-gray-800 rounded border border-solid border-gray-600;
    width          : 100%;
    display        : inline-flex;
    align-items    : center;
    justify-content: center;
    flex           : 1;
    padding        : 0 10px;
    font-size      : 12px;
    line-height    : 1.5;
    height         : 20px;
}

@keyframes slideUpAndFade {
    from {
        opacity  : 0;
        transform: translateY(2px);
    }

    to {
        opacity  : 1;
        transform: translateY(0);
    }
}

@keyframes slideRightAndFade {
    from {
        opacity  : 0;
        transform: translateX(-2px);
    }

    to {
        opacity  : 1;
        transform: translateX(0);
    }
}

@keyframes slideDownAndFade {
    from {
        opacity  : 0;
        transform: translateY(-2px);
    }

    to {
        opacity  : 1;
        transform: translateY(0);
    }
}

@keyframes slideLeftAndFade {
    from {
        opacity  : 0;
        transform: translateX(2px);
    }

    to {
        opacity  : 1;
        transform: translateX(0);
    }
}


.DialogOverlay {
    background-color: rgba(0, 0, 0, 0.44);
    position        : fixed;
    inset           : 0;
    animation       : overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
    @apply mb-4;
    background-color: white;
    border-radius   : 6px;
    box-shadow      : hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
    position        : fixed;
    top             : 50%;
    left            : 50%;
    transform       : translate(-50%, -50%);
    width           : 90vw;
    max-width       : 440px;
    max-height      : 85vh;
    padding         : 24px;
    animation       : contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
    overflow        : auto;
}

.DialogContent:focus {
    outline: none;
}

.DialogTitle {
    @apply text-gray-800 text-lg;
    margin     : 0;
    font-weight: 500;
}

.DialogDescription {
    @apply text-gray-600;
    margin     : 10px 0 20px;
    line-height: 1.5;
}